.vscode
*.bak
*.swp
*.conf
*.exe
*.log
*.txt
*.zip
*.tar.gz
*.dump
*.csv

quotient
runner/runner

/config/*
!/config/**/
/config/*/**
/custom-checks/*
!/custom-checks/.gitkeep
!/custom-checks/example.sh
!/custom-checks/requirements.txt

/submissions/*
!.gitkeep

db/