.vscode
*.bak
*.swp
*.conf
*.exe
*.log
quotient
runner/runner

/config/*
!/config/**/
/config/*/**
/custom-checks/*
!/custom-checks/.gitkeep
!/custom-checks/example.sh
!/custom-checks/requirements.txt

/submissions/*
!.gitkeep
