.vscode
*.bak
*.swp
*.conf
*.exe
*.log
quotient

/config/*
!/config/credlists/.gitkeep
/config/credlists/*
!/config/injects/.gitkeep
/config/injects/*
!/config/scoredfiles/.gitkeep
/config/scoredfiles/*
!/config/certs/.gitkeep
/config/certs/*
/engine/checks/custom/*
!/engine/checks/custom/.gitkeep

/submissions/*
!/**/.gitkeep