{{ define "controller" }}
<div class="pb-4">
    <form id="controlsForm">
        <div class="d-flex flex-row justify-content-between border rounded p-4">
            <div class="d-flex flex-column">
                <h4 class="my-0">Status</h4>
                <p id="statusMessage" class="text-secondary my-0">
                    The current state is:
                    {{ if .status }}
                    RUNNING
                    {{ else }}
                    PAUSED
                    {{ end }}
                    .
                </p>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="form-check form-switch">
                    <input name="status" class="fs-1 form-check-input" type="checkbox" role="switch" id="engineSwtich"
                        {{ if .status }}checked{{ end }}>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    const evtSource = new EventSource("/api/sse");
    evtSource.onmessage = (event) => {
        data = JSON.parse(event.data)
        console.log(data)
        if (data.page == "engine") {
            if (data.engine != undefined) {
                document.getElementById('engineSwtich').checked = data.engine
                message = "The current state is: "
                if (data.engine) {
                    message += "RUNNING."
                    createToast("Engine is now running", "bg-success")
                }
                else {
                    message += "PAUSED."
                    createToast("Engine is now running", "bg-success")
                }
                document.getElementById("statusMessage").textContent = message
            }
        }
    }
</script>
<script>
    document.getElementById('engineSwtich').addEventListener('change', function (event) {
        let formid = "controlsForm";
        let data = JSON.stringify({})
        let url;
        let success_function;
        if (event.target.checked) {
            url = "/api/engine/resume";

            success_function = function (data) {
                createToast("Engine is now running", "bg-success")
                document.getElementById("statusMessage").textContent = "The current state is: RUNNING."
            }
        } else {
            url = "/api/engine/pause";

            success_function = function (data) {
                createToast("Engine is now paused", "bg-success")
                document.getElementById("statusMessage").textContent = "The current state is: PAUSED."
            }
        }
        fetch(url, {
            method: "post",
            body: data,
        })
            .then(response => {
                if (!response.ok) {
                    Promise.reject(response);
                }
                return response.json();
            })
            .then(data => {
                if (data.status == "success") {
                    success_function(data)
                } else {
                    event.target.checked = !event.target.checked
                    createToast(data.error, "bg-danger")
                }
            })
            .catch(error => {
                event.target.checked = !event.target.checked
                createToast(error, "bg-danger")
            })
    })
</script>
{{ end }}
{{ define "export" }}
<div class="pb-4">
    <form id="exportForm">
        <div class="d-flex flex-row justify-content-between border rounded p-4">
            <div class="d-flex flex-column">
                <h4 class="my-0">Export scoring data</h4>
                <p class="text-secondary my-0">Export team service scores, SLAs, injects, etc.</p>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="">
                    <button type="submit" class="btn btn-primary">Export scoring
                        data</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let form = document.getElementById('exportForm')
        // Intercept the form submission
        document.getElementById('exportForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "exportForm";
            let url = "/api/engine/export/scores";

            window.open(url, "_blank")
        });
    });
</script>
{{ end }}
{{ define "reset" }}
<div class="pb-4">
    <form id="resetForm">
        <div class="d-flex flex-row justify-content-between border rounded p-4">
            <div class="d-flex flex-column">
                <h4 class="my-0">Reset event</h4>
                <p class="text-secondary my-0">Reset scoring to start of
                    competition.</p>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="">
                    <button type="submit" class="btn btn-danger">Reset event</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let form = document.getElementById('resetForm')
        // Intercept the form submission
        document.getElementById('resetForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "resetForm";
            let url = "/api/engine/reset";

            let data = JSON.stringify({})
            let success_function = function (data) {
                createToast("Scoring data successfully reset", "bg-success")
            }
            postAjax(event, formid, data, url, success_function)
        });
    });
</script>
{{ end }}
{{ define "teams"}}
<button id="addteambutton" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#addteamModal">Add new
    team</button>
<button id="importteambutton" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#importteamModal">Import teams
    CSV</button>
{{ if ne .config.LdapConnectUrl "" }}
<button id="syncldapbutton" type="button" class="btn btn-primary">Sync teams w/LDAP</button>
{{ end }}
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addteamModal" tabindex="-1"
    aria-labelledby="addteamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addteamModalLabel">New team</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addteamForm">
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Team Name:</label>
                        <input name="name" type="text" class="form-control" id="name" required aria-required="true">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Password:</label>
                        <input name="password" type="text" class="form-control" id="password" required
                            aria-required="true">
                    </div>
                    <div class="mb-3">
                        <label for="identifier" class="col-form-label">Team Identifier Number:</label>
                        <input name="identifier" type="text" class="form-control" id="identifier" required
                            aria-required="true">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addteamForm" class="btn btn-primary">Add team
                    <div class="spinner-border text-primary d-none" role="status" id="addteamSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="importteamModal" tabindex="-1"
    aria-labelledby="importteamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="importteamModalLabel">Import teams</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="importteamForm">
                    <div class="mb-3">
                        <textarea class="form-control" name="teams" rows="10"
                            placeholder="team name,password,team identifier number"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="importteamForm" class="btn btn-primary">Import teams
                    <div class="spinner-border text-primary d-none" role="status" id="importteamSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="pb-4">
    <table class="table table-bordered my-2">
        <thead>
            <th>Team Name</th>
            <th>Password</th>
            <th>Team Identifier Number <i class="bi bi-info-circle" data-bs-toggle="tooltip"
                    data-bs-title="This number is what replaces underscores (_) in your config. For example: if you set this number to 1, 192.168._.10 becomes 192.168.1.10. However, 192.168.10_.10 becomes 192.168.101.10."></i>
            </th>
            <th>Edit</th>
            <th>Delete</th>
        </thead>
        <tbody>
            {{ range $team := .teams}}
            <tr data-team-id="{{ $team.ID }}" data-team-name="{{ $team.Name }}" data-team-password="{{ $team.Pw }}"
                data-team-identifier="{{ $team.Identifier }}">
                <td>
                    {{ $team.Name }}
                </td>
                <td>
                    {{ $team.Pw }}
                </td>
                <td>
                    {{ $team.Identifier }}
                </td>
                <td>
                    <button type="button" class="btn btn-primary editteam" data-bs-toggle="modal"
                        data-bs-target="#editteamModal">Edit</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger deleteteam" data-bs-toggle="modal"
                        data-bs-target="#deleteteamModal">Delete</button>
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
{{ if ne .config.LdapConnectUrl "" }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('syncldapbutton').addEventListener('click', function (event) {
            event.preventDefault();

            let formid = "";
            let url = "/api/engine/syncldap";

            let data = JSON.stringify({})
            let success_function = function (data) {
                createToast("Synced with LDAP successfuly", "bg-success")
            }
            postAjax(event, formid, data, url, success_function)
        })
    })
</script>
{{ end }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let form = document.getElementById('addteamForm')
        // Intercept the form submission
        document.getElementById('addteamForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "addteamForm";
            let url = "/api/engine/addteam";

            const form = document.forms[formid]
            let data = JSON.stringify({
                "name": form.name.value,
                "password": form.password.value,
                "identifier": form.identifier.value,
            })
            let success_function = function (data) {
                const modal = bootstrap.Modal.getInstance(document.getElementById('addteamModal'))

                createToast("Team successfully added " + data.team.Name, "bg-success")
                modal.hide()
                location.reload()
            }
            postAjax(event, formid, data, url, success_function)
        });

        document.getElementById('importteamForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "importteamForm";
            let url = "/api/engine/addteam";

            const form = document.forms[formid]
            form.teams.value.split("\n").forEach((line) => {
                record = line.split(",")
                let data = JSON.stringify({
                    "name": record[0],
                    "password": record[1],
                    "identifier": record[2],
                })
                let success_function = function (data) {
                    const modal = bootstrap.Modal.getInstance(document.getElementById('importteamModal'))

                    createToast("Team successfully added " + data.team.Name, "bg-success")
                    modal.hide()
                    location.reload()
                }
                postAjax(event, formid, data, url, success_function)
            })
        });
    });
</script>

<div class="modal fade text-body" data-bs-backdrop="static" data-bs-keyboard="false" id="editteamModal" tabindex="-1"
    aria-labelledby="editteamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editteamModalLabel">Edit team</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editteamForm">
                    <div class="mb-3">
                        <label for="teamname" class="col-form-label">Name:</label>
                        <input name="teamname" type="text" class="form-control" id="teamname" required
                            aria-required="true">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="col-form-label">Password:</label>
                        <input name="password" type="text" class="form-control" id="password" required
                            aria-required="true">
                    </div>
                    <div class="mb-3">
                        <label for="identifier" class="col-form-label">Team Identifier Number:</label>
                        <input name="identifier" type="text" class="form-control" id="identifier" required
                            aria-required="true">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="editteamForm" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    var editButtons = document.querySelectorAll('button.editteam')

    // this function exists here to be used dynamically by SSE
    document.addEventListener('DOMContentLoaded', function () {
        let form = document.getElementById('editteamForm')
        function attachEditListener(button) {
            button.addEventListener('click', function (event) {
                let team = button.closest('tr')
                let myID = team.getAttribute('data-team-id')
                let myName = team.getAttribute('data-team-name')
                let myPassword = team.getAttribute('data-team-password')
                let myIdentifier = team.getAttribute('data-team-identifier')

                let modal = document.getElementById('editteamModal')
                modal.querySelector('form').setAttribute('data-team-id', myID)
                modal.querySelector('[name="teamname"]').value = myName
                modal.querySelector('[name="password"]').value = myPassword
                modal.querySelector('[name="identifier"]').value = myIdentifier
            })
        }

        editButtons.forEach((button) => attachEditListener(button))

        document.getElementById('editteamForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let teamid = event.target.getAttribute("data-team-id")
            let formid = "editteamForm";
            let url = "/api/teams/" + teamid + "/edit";

            const form = document.forms[formid]
            let data = JSON.stringify({
                "name": form.teamname.value,
                "password": form.password.value,
                "identifier": form.identifier.value,
            })
            let success_function = function (data) {
                const modal = bootstrap.Modal.getInstance(document.getElementById('editteamModal'))

                createToast("Team successfully updated", "bg-success")
                modal.hide()
                location.reload()
            }
            postAjax(event, formid, data, url, success_function)
        });
    })
</script>
<div class="modal fade text-body" data-bs-backdrop="static" data-bs-keyboard="false" id="deleteteamModal" tabindex="-1"
    aria-labelledby="deleteteamModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteteamModalLabel">Permanently delete team?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this team?</p>
                <pre id="deleteteamFormTitle">TEMPLATE</pre>
                <form id="deleteteamForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="deleteteamForm" class="btn btn-danger">Delete team
                    <div class="spinner-border text-primary d-none" role="status" id="deleteteamSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var deleteButtons = document.querySelectorAll('button.deleteteam')

    // this function exists here to be used dynamically by SSE
    function attachDeleteListener(button) {
        button.addEventListener('click', function (event) {
            let team = button.closest('tr')
            let myID = team.getAttribute('data-team-id')
            let myTitle = team.getAttribute('data-team-name')

            let modal = document.getElementById('deleteteamModal')
            modal.querySelector('form').setAttribute('data-team-id', myID)
            modal.querySelector('pre').textContent = myTitle
        })
    }
    document.addEventListener('DOMContentLoaded', function () {
        deleteButtons.forEach((button) => attachDeleteListener(button))

        // Intercept the form submission
        document.getElementById('deleteteamForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let teamid = event.target.getAttribute("data-team-id")
            let formid = "deleteteamForm";
            let url = "/api/teams/" + teamid;
            let success_function = function (data) {
                const modal = bootstrap.Modal.getInstance(document.getElementById('deleteteamModal'))

                createToast("Team successfully deleted", "bg-success")
                modal.hide()
                location.reload()
            }
            fetch(url, {
                method: "delete",
            })
                .then(response => {
                    if (!response.ok) {
                        Promise.reject(response);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status == "success") {
                        success_function(data)
                    } else {
                        createToast(data.error, "bg-danger")
                    }
                })
                .catch(error => {
                    createToast(error, "bg-danger")
                })
        });
    });
</script>
{{ end }}
{{ define "adjustments" }}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addadjustmentModal">Add new
    adjustment</button>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addadjustmentModal" tabindex="-1"
    aria-labelledby="addadjustmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addadjustmentModalLabel">New adjustment</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addadjustmentForm">
                    <div class="mb-3">
                        <label for="teamid" class="col-form-label">Team:</label>
                        <select name="teamid" class="form-select" aria-label="Select a team" required
                            aria-required="true">
                            {{ range $team := .teams }}
                            <option value="{{ $team.ID }}">{{ $team.Name }}</option>
                            {{ end }}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input name="amount" type="number" class="form-control" id="amount" required
                            aria-required="true">
                    </div>
                    <div class="mb-3">
                        <label for="reason" class="col-form-label">Reason:</label>
                        <input name="reason" type="text" class="form-control" id="reason" required aria-required="true">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addadjustmentForm" class="btn btn-primary">Add adjustment
                    <div class="spinner-border text-primary d-none" role="status" id="addadjustmentSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="pb-4">
    <table class="table table-bordered my-2">
        <thead>
            <th>Team Name</th>
            <th>Adjustment Time</th>
            <th>Amount</th>
            <th>Reason</th>
        </thead>
        <tbody>
            {{ range $adjustment := .adjustments}}
            <tr>
                <td>
                    {{ $adjustment.Team.Name }}
                </td>
                <td style="width:15rem">
                    {{ $adjustment.CreatedAt }}
                </td>
                <td style="width:10rem">
                    {{ $adjustment.Amount }}
                </td>
                <td>
                    {{ $adjustment.Reason }}
                </td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let form = document.getElementById('addadjustmentForm')
        // Intercept the form submission
        document.getElementById('addadjustmentForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "addadjustmentForm";
            let url = "/api/engine/adjustment";

            const form = document.forms[formid]
            let data = JSON.stringify({
                "teamid": parseInt(form.teamid.value),
                "amount": parseInt(form.amount.value),
                "reason": form.reason.value,
            })
            console.log(data)
            let success_function = function (data) {
                const modal = bootstrap.Modal.getInstance(document.getElementById('addadjustmentModal'))

                createToast("Point adjustment successfully added", "bg-success")
                modal.hide()
                location.reload()
            }
            postAjax(event, formid, data, url, success_function)
        });
    });
</script>
{{ end }}