{{ define "addannouncement" }}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addannouncementModal">Add new
    announcement</button>

<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="addannouncementModal" tabindex="-1"
    aria-labelledby="addannouncementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addannouncementModalLabel">New announcement</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addannouncementForm">
                    <div class="mb-3">
                        <label for="content" class="col-form-label">Announcement:</label>
                        <input name="content" type="text" class="form-control" id="content" required
                            aria-required="true">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="addannouncementForm" class="btn btn-primary">Add announcement
                    <div class="spinner-border text-primary d-none" role="status" id="addannouncementSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let form = document.getElementById('addannouncementForm')
        // Intercept the form submission
        document.getElementById('addannouncementForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "addannouncementForm";
            let url = "/api/announcements/add";

            const form = document.forms[formid]
            let data = JSON.stringify({
                "content": form.content.value,
            })
            let success_function = function (data) {
                const modal = bootstrap.Modal.getInstance(document.getElementById('addannouncementModal'))

                createToast("Announcement successfully added", "bg-success")
                modal.hide()
            }
            postAjax(event, formid, data, url, success_function)
        });
    });
</script>
{{ end }}

{{ define "deleteannouncement"}}
<div class="modal fade text-body" data-bs-backdrop="static" data-bs-keyboard="false" id="deleteannouncementModal"
    tabindex="-1" aria-labelledby="deleteannouncementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteannouncementModalLabel">Permanently delete announcement?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this announcement?</p>
                <form id="deleteannouncementForm">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="deleteannouncementForm" class="btn btn-danger">Delete announcement
                    <div class="spinner-border text-primary d-none" role="status" id="deleteannouncementSpinner">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    var deleteButtons = document.querySelectorAll('button.deleteannouncement')

    // this function exists here to be used dynamically by SSE
    function attachDeleteListener(button) {
        button.addEventListener('click', function (event) {
            let announcement = button.closest('tr')
            let myID = announcement.getAttribute('data-announcement-id')

            let modal = document.getElementById('deleteannouncementModal')
            modal.querySelector('form').setAttribute('data-announcement-id', myID)
        })
    }
    document.addEventListener('DOMContentLoaded', function () {
        deleteButtons.forEach((button) => attachDeleteListener(button))

        // Intercept the form submission
        document.getElementById('deleteannouncementForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let announcementid = event.target.getAttribute("data-announcement-id")
            let formid = "deleteannouncementForm";
            let url = "/api/announcements/" + announcementid;
            let success_function = function (data) {
                const modal = bootstrap.Modal.getInstance(document.getElementById('deleteannouncementModal'))

                createToast("Announcement successfully deleted", "bg-success")
                modal.hide()
            }
            fetch(url, {
                method: "delete",
            })
                .then(response => {
                    if (!response.ok) {
                        Promise.reject(response);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.status == "success") {
                        success_function(data)
                    } else {
                        createToast(data.error, "bg-danger")
                    }
                })
                .catch(error => {
                    createToast(error, "bg-danger")
                })
        });
    });
</script>
{{ end }}