<nav class="navbar sticky-top navbar-expand-lg bg-contrast" id="navbar">
    <div class="container-fluid px-4">
        {{ if .user }}
        <a class="navbar-brand" href="/announcements"><b>{{ .name }}</b></a>
        {{ else }}
        <a class="navbar-brand" href="/login"><b>{{ .name }}</b></a>
        {{ end }}
        {{ if .user }}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        {{ end }}
        <ul class="navbar-nav">
            <div class="d-flex justify-content-center align-items-center">
                Logged in as {{ .user.UserInfo.Username }}
            </div>
            <li class="nav-item dropdown">
                <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                    id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-label="Toggle theme">
                    <i class="bi bi my-1 theme-icon-active"></i>
                    <span class="d-lg-none ms-2" id="bd-theme-text"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="bd-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                            data-bs-theme-value="light" aria-pressed="false">
                            <i class="bi bi-sun-fill me-2 opacity-50 theme-icon"></i>
                            Light
                            <i class="bi bi-checks2 ms-auto d-none"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active"
                            data-bs-theme-value="dark" aria-pressed="true">
                            <i class="bi bi-moon-stars-fill me-2 opacity-50 theme-icon"></i>
                            Dark
                            <i class="bi bi-checks2 ms-auto d-none"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
                            aria-pressed="false">
                            <i class="bi bi-circle-half me-2 opacity-50 theme-icon"></i>
                            Auto
                            <i class="bi bi-checks2 ms-auto d-none"></i>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{{ if .user }}
<div class="d-flex h-100 overflow-auto">
    <div class="navbar sticky-top navbar-expand-lg bg-contrast align-items-start">
        <div class="offcanvas offcanvas-start" style="height: 100% !important;" data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ .name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body flex-grow-1 p-0">
                <ul class="navbar-nav flex-column justify-content-end flex-grow-1 h-100 p-0">
                    <li class="nav-item">
                        <a class='nav-link p-3 {{ if eq .title "Announcements"}}active{{end}}' aria-current="page" href="/announcements">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-broadcast-pin"></i>
                                Announcements
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link p-3 {{ if eq .title "Scoreboard"}}active{{end}}' aria-current="page" href="/scoreboard">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-activity"></i>
                                Scoreboard
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link p-3 {{ if eq .title "Overview"}}active{{end}}' aria-current="page" href="/overview">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-speedometer2"></i>
                                Overview
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link p-3 {{ if eq .title "Injects"}}active{{end}}' aria-current="page" href="/injects">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-envelope"></i>
                                Injects
                            </div>
                        </a>
                    </li>
                    {{ if or (.config.EasyPCR) (.user.UserInfo.Admin) }}
                    <li class="nav-item">
                        <a class='nav-link p-3 {{ if eq .title "PCRs"}}active{{end}}' aria-current="page" href="/pcrs">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-key"></i>
                                PCRs
                            </div>
                        </a>
                    </li>
                    {{ end }}
                    {{ if .user.UserInfo.Admin }}
                    <li class="nav-item">
                        <a class='nav-link p-3 {{ if eq .title "Engine"}}active{{end}}' aria-current="page" href="/engine">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-display"></i>
                                Engine
                            </div>
                        </a>
                    </li>
                    {{ end }}
                    {{ if .user }}
                    <li class="nav-item mt-auto">
                        <a class='nav-link p-3' aria-current="page" href="/api/logout">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <i class="bi bi-box-arrow-left"></i>
                                Sign out
                            </div>
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
    {{ template "content" . }}
</div>
{{ else }}
{{ template "content" . }}
{{ end }}