<nav class="navbar navbar-expand-lg bg-contrast" id="navbar">
    <div class="container-fluid px-4">
        <a class="navbar-brand" href="/announcements"><b>{{ .name }}</b></a>
        {{ if .user }}
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> 
        <div class="offcanvas offcanvas-start" data-bs-backdrop="false" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{ .name }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class='nav-link {{ if eq .title "Overview"}}active{{end}}' aria-current="page" href="/overview">Overview</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link {{ if eq .title "Injects"}}active{{end}}' aria-current="page" href="/injects">Injects</a>
                    </li>
                    <li class="nav-item">
                        <a class='nav-link {{ if eq .title "PCRs"}}active{{end}}' aria-current="page" href="/pcrs">PCRs</a>
                    </li>
                    {{ if .user.UserInfo.Admin }}
                    <li class="nav-item">
                        <a class='nav-link {{ if eq .title "Engine"}}active{{end}}' aria-current="page" href="/engine">Engine</a>
                    </li>
                    {{ end }}
                    {{ if .user }}
                    <li class="nav-item">
                        <a class='nav-link' aria-current="page" href="/api/logout">Sign Out</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
        {{ end }}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                    id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static"
                    aria-label="Toggle theme">
                    <i class="bi bi my-1 theme-icon-active" style="width:16px;"></i>
                    <span class="d-lg-none ms-2" id="bd-theme-text"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end position-absolute" aria-labelledby="bd-theme-text">
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center"
                            data-bs-theme-value="light" aria-pressed="false">
                            <i class="bi bi-sun-fill me-2 opacity-50 theme-icon"></i>
                            Light
                            <i class="bi bi-checks2 ms-auto d-none"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center active"
                            data-bs-theme-value="dark" aria-pressed="true">
                            <i class="bi bi-moon-stars-fill me-2 opacity-50 theme-icon"></i>
                            Dark
                            <i class="bi bi-checks2 ms-auto d-none"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
                            aria-pressed="false">
                            <i class="bi bi-circle-half me-2 opacity-50 theme-icon"></i>
                            Auto
                            <i class="bi bi-checks2 ms-auto d-none"></i>
                        </button>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>