{{ define "portal" }}
<div class="team-portal-container d-flex flex-column flex-grow-1" {{ if not .user.UserInfo.Admin }}style="width:0" {{
    end }}>
    <h3 id="uptime">Service Uptime</h3>
    <div class="table-container">
        <table id="teamUptime" class="table table-bordered text-nowrap">
            <thead>
                <tr></tr>
            </thead>
            <tbody>
                <tr></tr>
            </tbody>
        </table>
    </div>
    <h3>Service Status</h3>
    <div class="table-container">
        <table id="teamLast10" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <h3>SLAs</h3>
    <div class="table-container">
        <table id="teamSLAs" class="table table-bordered">
            <thead>
                <tr>
                    <th>Round #</th>
                    <th>Service Name</th>
                    <th>Penalty</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="serviceOffcanvas" aria-labelledby="serviceOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="serviceOffcanvasLabel">Service Drilldown</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <table class="table table-bordered" id="serviceDrilldown">
            <thead>
                <th>Round</th>
                <th>Time</th>
                <th>Status</th>
                {{ if (or .user.UserInfo.Admin .config.Verbose) }}
                <th>Debug</th>
                <th>Error</th>
                {{ end }}
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<script>
    const teamUptime = document.getElementById("teamUptime")
    const teamLast10 = document.getElementById("teamLast10")
    const teamSLAs = document.getElementById("teamSLAs")
    const serviceDrilldown = document.getElementById("serviceDrilldown")
    const serviceDrilldownLabel = document.getElementById("serviceOffcanvasLabel")

    function loadOverview(teamid) {
        teamUptime.querySelector("thead tr").innerHTML = ""
        teamUptime.querySelector("tbody tr").innerHTML = ""

        teamLast10.querySelector("thead tr").innerHTML = "<th></th>"
        teamLast10.querySelector("tbody").innerHTML = ""
        teamSLAs.querySelector("tbody").innerHTML = ""

        fetch("/api/teams/" + teamid + "/scores/uptime")
            .then((response) => {
                if (!response.ok) {
                    Promise.reject(response)
                }
                return response.json()
            })
            .then((data) => {
                if (data.error) {
                    createToast(data.error, "bg-danger")
                } else {
                    let thead = teamUptime.querySelector("thead tr")
                    let tbody = teamUptime.querySelector("tbody tr")
                    Object.keys(data.uptime).forEach((service) => {
                        const name = document.createElement("td")
                        const uptime = document.createElement("td")
                        name.textContent = service
                        let percent = Math.round(100 * data.uptime[service].Ups / data.uptime[service].Total)
                        if (percent > 80) {
                            uptime.className = "bg-success"
                        } else if (percent > 60) {
                            uptime.className = "bg-warning"
                        } else {
                            uptime.className = "bg-danger"
                        }
                        uptime.textContent = percent + "%"
                        thead.appendChild(name)
                        tbody.appendChild(uptime)
                    })
                }
            })
            .catch((error) => {
                createToast(error, "bg-danger")
            })
        fetch("/api/teams/" + teamid + "/scores/rounds/10")
            .then((response) => {
                if (!response.ok) {
                    Promise.reject(response)
                }
                return response.json()
            })
            .then((data) => {
                if (data.error) {
                    Promise.reject(data.error)
                }
                thead = teamLast10.querySelector("thead tr")
                tbody = teamLast10.querySelector("tbody")
                if (data.rounds.length > 0) {
                    // show time of last round
                    document.getElementById("uptime").textContent = "Service Uptime (" + new Date(data.rounds[0].StartTime).toLocaleTimeString() + ")"
                }
                data.rounds.forEach((round) => {
                    const th = document.createElement("th")
                    let time = new Date(round.StartTime)
                    th.textContent = time.toLocaleTimeString()
                    thead.appendChild(th)

                    const rows = tbody.querySelectorAll("tr")
                    let rowSizes = {}
                    for (const row of rows) {
                        rowSizes[row.className] = false
                    }

                    round.Checks.forEach((check) => {
                        let tr = tbody.querySelector("tr." + check.ServiceName)
                        if (!tr) {
                            tr = document.createElement("tr")
                            tr.className = check.ServiceName
                            const th = document.createElement("th")
                            th.classList = "text-end"
                            const button = document.createElement("button")
                            button.textContent = check.ServiceName
                            button.className = "btn btn-link text-nowrap"
                            button.type = "button"
                            button.setAttribute("data-service-name", check.ServiceName)
                            button.setAttribute("data-bs-toggle", "offcanvas")
                            button.setAttribute("data-bs-target", "#serviceOffcanvas")
                            button.setAttribute("aria-controls", "#serviceOffcanvas")
                            button.addEventListener('click', (event) => {
                                const tbody = serviceDrilldown.querySelector("tbody")
                                const servicename = event.target.getAttribute("data-service-name")
                                tbody.innerHTML = ""
                                serviceDrilldownLabel.textContent = "Service Drilldown: " + servicename
                                fetch("/api/teams/" + teamid + "/scores/" + servicename).then((response) => {
                                    if (!response.ok) {
                                        Promise.reject(response)
                                    }
                                    return response.json()
                                }).then((data) => {
                                    if (data.error) {
                                        createToast(data.error, "bg-danger")
                                    } else {
                                        data.forEach((round) => {
                                            const tr = document.createElement("tr")
                                            const roundid = document.createElement("td")
                                            const time = document.createElement("td")
                                            const status = document.createElement("td")
                                            roundid.textContent = round.RoundID
                                            time.textContent = round.Round.StartTime
                                            status.textContent = round.Result
                                            tr.appendChild(roundid)
                                            tr.appendChild(time)
                                            tr.appendChild(status)
                                            if (round.Debug) {
                                                const debug = document.createElement("td")
                                                debug.textContent = round.Debug
                                                tr.appendChild(debug)
                                            } else if (round.Error) { // padding in case no debug but has an error
                                                const debug = document.createElement("td")
                                                tr.appendChild(debug)
                                            }
                                            if (round.Error) {
                                                const error = document.createElement("td")
                                                error.textContent = round.Error
                                                tr.appendChild(error)
                                            } else if (round.Debug) {
                                                const debug = document.createElement("td")
                                                tr.appendChild(debug)
                                            }
                                            tbody.appendChild(tr)
                                        })
                                    }
                                }).catch((error) => {
                                    createToast(error, "bg-danger")
                                })
                            })
                            th.style.width = "10rem;"
                            th.appendChild(button)
                            tr.appendChild(th)
                            tbody.appendChild(tr)
                        }
                        rowSizes[check.ServiceName] = true
                        const td = document.createElement("td")
                        const img = document.createElement("img")
                        if (check.Result) {
                            img.src = "/assets/services/up.png"
                        } else {
                            img.src = "/assets/services/down.png"
                        }
                        img.style.maxWidth = "25px"
                        td.appendChild(img)
                        tr.appendChild(td)
                    })

                    Object.keys(rowSizes).forEach((row) => {
                        if (rowSizes[row] != undefined && rowSizes[row] == false) {
                            let tr = tbody.querySelector("tr." + row)
                            const td = document.createElement("td")
                            tr.appendChild(td)
                        }
                    })

                    // sort rows by service name
                    let switching = true
                    let shouldSwitch;
                    while (switching) {
                        switching = false;
                        let rows = tbody.querySelectorAll("tr");

                        for (i = 0; i < rows.length - 1; i++) {
                            shouldSwitch = false;
                            let x = rows[i].querySelector("button");
                            let y = rows[i + 1].querySelector("button");

                            if (x.textContent.toLowerCase() > y.textContent.toLowerCase()) {
                                shouldSwitch = true;
                                break;
                            }
                        }

                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                });
            })
        fetch("/api/teams/" + teamid + "/scores/sla")
            .then((response) => {
                if (!response.ok) {
                    Promise.reject(response)
                }
                return response.json()
            }).then((data) => {
                if (data.error) {
                    Promise.reject(data.error)
                }
                tbody = teamSLAs.querySelector("tbody")
                data.slas.forEach((sla) => {
                    const tr = document.createElement("tr")
                    const round = document.createElement("td")
                    const servicename = document.createElement("td")
                    const penalty = document.createElement("td")

                    round.textContent = sla.RoundID
                    servicename.textContent = sla.ServiceName
                    penalty.textContent = sla.Penalty
                    tr.appendChild(round)
                    tr.appendChild(servicename)
                    tr.appendChild(penalty)
                    tbody.appendChild(tr)
                })
            })
    }
</script>
{{ if .user.UserInfo.Admin }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let overviewButtons = document.querySelectorAll("button.overview")
        overviewButtons.forEach((button) => {
            button.addEventListener('click', function (event) {
                document.getElementById("teamOverviewModalLabel").textContent = "Overview for " + button.getAttribute("data-team-name")
                loadOverview(button.getAttribute("data-team-id"))
            })
        })
    })
</script>
{{ else }}
<script>
    document.addEventListener('DOMContentLoaded', loadOverview("{{ .user.UserInfo.ID }}"))
</script>
{{ end }}
{{ end }}