$body-bg-dark: #090909;

@import './bootstrap.scss';

@include media-breakpoint-down(md) {
    #navbar {
        max-width: unset;
    }
    #navbar .offcanvas {
        max-width: 500px;
    }
}
@include media-breakpoint-up(md) {
    #navbar {
        max-width: 200px;
    }
    #navbar .offcanvas {
        max-width: 200px;
    }

    .inspector {
        min-width: 25%;
    }
}

.nav-link.active {
    background: linear-gradient(90deg, $primary 0%, $primary-text-emphasis 100%);
    color: var(--bs-light)
}

.nav-link:not(.active):hover {
    // background: $body-bg;
}
