{{ define "page" }}
<div class="d-flex w-100 h-100">
    <div class="pt-4 w-100 h-100 overflow-y-scroll">
        <div class="container">
            <div class="row">
                <div class="row mb-3">
                    <div class="mb-3">
                        <span class="fs-3 fw-bold">Admin Area</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="nav flex-column">
                    <a class="nav-link border" href="/admin/engine">Engine/Scoring Data</a>
                    <a class="nav-link border" href="/admin/teams">Team Configurations</a>
                    <a class="nav-link border" href="/admin/appearance">Appearance/Roles Settings</a>
                  </nav>
            </div>
        </div>
    </div>
</div>
{{ end }}