{{ define "content"}}
{{ $user := .user }}
<div class="d-flex flex-column flex-grow-1">
    <div class="m-4 p-4">
        <h2>Announcements</h2>
        {{ if $user.UserInfo.Admin }}
        {{ template "addannouncement" . }}
        {{ end }}
        <div class="d-flex h-auto justify-content-center align-items-center">
            <table class="table table-hover table-bordered my-2">
                <thead class="">
                    <th style="width:3rem">ID</th>
                    <th style="width:auto">Announcement</th>
                    <th style="width:15rem">Time</th>
                    {{ if $user.UserInfo.Admin }}
                    <th style="width:3rem">Delete</th>
                    {{ end }}
                </thead>
                <tbody>
                    {{ range $announcement := .announcements }}
                    <tr data-announcement-id="{{ $announcement.ID }}">
                        <td>
                            {{ $announcement.ID }}
                        </td>
                        <td>
                            {{ $announcement.Content }}
                        </td>
                        <td>
                            {{ format $announcement.CreatedAt }}
                        </td>
                        {{ if $user.UserInfo.Admin }}
                        <td>
                            <button type="button" class="btn btn-danger deleteannouncement" data-bs-toggle="modal"
                                data-bs-target="#deleteannouncementModal">Delete</button>
                        </td>
                        {{ end }}
                    </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ if $user.UserInfo.Admin }}
{{ template "deleteannouncement" . }}
{{ end }}
{{ end }}
{{ template "base" .}}