{{ define "content"}}
{{ $admin := true }}
{{ $now := .now }}
{{ $credentials := .credentials }}
{{ $credlists := keys $credentials }}
<div class="d-flex flex-column flex-grow-1">
    <div class="m-4 p-4">
        <h2>Engine</h2>
        <div class="d-flex flex-column h-auto justify-content-center align-items-center">
            <div class="container-fluid my-2">
                <div class="row">
                    <div class="col-lg-3 col-xl-2">
                        <div class="nav flex-lg-column nav-pills me-3" id="engineNav" role="tablist"
                            aria-orientation="vertical">
                            <button class="nav-link text-start active" id="v-pills-controls-tab" data-tab-id="controls"
                                data-bs-toggle="pill" data-bs-target="#v-pills-controls" type="button" role="tab"
                                aria-controls="v-pills-controls" aria-selected="true">Controls</button>
                            <button class="nav-link text-start" id="v-pills-adjustments-tab" data-tab-id="adjustments"
                                data-bs-toggle="pill" data-bs-target="#v-pills-adjustments" type="button" role="tab"
                                aria-controls="v-pills-adjustments" aria-selected="false">Point Adjustments</button>
                            <button class="nav-link text-start" id="v-pills-teams-tab" data-tab-id="teams"
                                data-bs-toggle="pill" data-bs-target="#v-pills-teams" type="button" role="tab"
                                aria-controls="v-pills-teams" aria-selected="false">Team Configuration</button>
                            <button class="nav-link text-start" id="v-pills-environment-tab" data-tab-id="environment"
                                data-bs-toggle="pill" data-bs-target="#v-pills-environment" type="button" role="tab"
                                aria-controls="v-pills-environment" aria-selected="false">Environment</button>
                        </div>
                        <hr class="d-block d-lg-none">
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-start h-100 w-100">
                            <div class="tab-content h-100 w-100" id="engineNavContent">
                                <div class="tab-pane show active" id="v-pills-controls" role="tabpanel"
                                    aria-labelledby="v-pills-controls-tab" tabindex="0">
                                    <div>
                                        <h3>Controls</h3>
                                        <div class="text-secondary">Control the scoring engine</div>
                                    </div>
                                    <hr class="my-4">
                                    {{ template "controller" .}}
                                    {{ template "export" .}}
                                    {{ template "reset" .}}
                                </div>
                                <div class="tab-pane " id="v-pills-adjustments" role="tabpanel"
                                    aria-labelledby="v-pills-adjustments-tab" tabindex="0">
                                    <div>
                                        <h3>Point Adjustments</h3>
                                        <div class="text-secondary">Manually adjust points for teams</div>
                                    </div>
                                    <hr class="my-4">
                                    {{ template "adjustments" . }}
                                </div>
                                <div class="tab-pane" id="v-pills-teams" role="tabpanel"
                                    aria-labelledby="v-pills-teams-tab" tabindex="0">
                                    <div>
                                        <h3>Team Configuration</h3>
                                        <div class="text-secondary">Manage teams playing in this event</div>
                                    </div>
                                    <hr class="my-4">
                                    {{ template "teams" . }}
                                </div>
                                <div class="tab-pane" id="v-pills-environment" role="tabpanel"
                                    aria-labelledby="v-pills-environment-tab" tabindex="0">
                                    <div>
                                        <h3>Environment Configuration</h3>
                                        <div class="text-secondary">Configure the environment and scored checks</div>
                                    </div>
                                    <hr class="my-4">
                                    <div class="d-flex flex-grow-1">
                                        <div class="container-fluid px-0">
                                            <div class="row g-1 pb-4">
                                                <div>
                                                    <button class="btn btn-primary"><i class="bi bi-plus-lg"></i> Add
                                                        Service Check</button>
                                                    <a href="/api/engine/export/config" target="_blank"
                                                        class="btn btn-primary"><i class="bi bi-box-arrow-up-right"></i>
                                                        Export Config</a>
                                                </div>
                                            </div>
                                            <div class="row g-1">
                                                {{ range $service := .services }}
                                                <div class="col-xxl-3 col-xl-4 col-md-6 col-12">
                                                    <button
                                                        class="btn btn-modal p-4 bg-secondary-subtle text-start rounded-0 w-100"
                                                        style="height: 309px;" data-bs-toggle="modal"
                                                        data-bs-target="#editServiceCheckModal"
                                                        data-service-name="{{ $service.Name }}">
                                                        <div class="d-flex flex-column flex-grow-1">
                                                            <div>
                                                                {{ if not $service.Disabled }}
                                                                <i class="bi bi-circle-fill {{ if and ($now.After $service.LaunchTime) ($now.Before $service.StopTime) }}text-success{{ else }}text-danger{{ end }}"
                                                                    data-bs-toggle="tooltip" {{ if and ($now.After
                                                                    $service.LaunchTime) ($now.Before $service.StopTime)
                                                                    }}data-bs-title="Check is ready" {{ else
                                                                    }}data-bs-title="Check is not in scoring window" {{
                                                                    end }}></i>
                                                                {{ else }}
                                                                <i class="bi bi-slash-circle text-danger"
                                                                    data-bs-toggle="tooltip"
                                                                    data-bs-title="Check is disabled"></i>
                                                                {{ end }}
                                                            </div>
                                                            <div class="fs-3">
                                                                {{ $service.Name }}
                                                            </div>
                                                            <div>
                                                                <div>
                                                                    Type: {{ typeOf $service }}
                                                                </div>
                                                                <div>
                                                                    <div>
                                                                        Target: <span>{{ $service.BoxIP
                                                                            }}</span>:<span>{{ $service.Port
                                                                            }}</span>
                                                                    </div>
                                                                    {{ if $service.BoxFQDN }}
                                                                    <div>
                                                                        FQDN: <span>{{ $service.BoxFQDN }}</span>
                                                                    </div>
                                                                    {{ end }}
                                                                    <div>
                                                                        Launch Time: <span class="time"
                                                                            data-time="{{ $service.LaunchTime }}"></span>
                                                                    </div>
                                                                    <div>
                                                                        Stop Time: <span class="time"
                                                                            data-time="{{ $service.StopTime }}"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                    </button>
                                                </div>
                                                {{ end }}
                                            </div>
                                            <div class="modal fade" id="editServiceCheckModal" data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="editServiceCheckModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5"
                                                                id="editServiceCheckModalLabel">Edit Service Check</h1>
                                                            <button type="button" class="btn-close"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <ul class="nav nav-pills justify-content-center mb-3"
                                                                id="pills-tab" role="tablist">
                                                                <li class="nav-item" role="presentation">
                                                                    <button class="nav-link active" id="pills-check-tab"
                                                                        data-bs-toggle="pill"
                                                                        data-bs-target="#pills-check" type="button"
                                                                        role="tab" aria-controls="pills-check"
                                                                        aria-selected="true">Basic</button>
                                                                </li>
                                                                <li class="nav-item" role="presentation">
                                                                    <button class="nav-link" id="pills-advanced-tab"
                                                                        data-bs-toggle="pill"
                                                                        data-bs-target="#pills-advanced" type="button"
                                                                        role="tab" aria-controls="pills-advanced"
                                                                        aria-selected="false">Advanced</button>
                                                                </li>
                                                            </ul>
                                                            <div class="tab-content" id="pills-tabContent">
                                                                <div class="tab-pane fade show active" id="pills-check"
                                                                    role="tabpanel" aria-labelledby="pills-check-tab"
                                                                    tabindex="0">
                                                                    <form>
                                                                        <div class="mb-3">
                                                                            <label for="displayInput"
                                                                                class="form-label">Display</label>
                                                                            <input name="display" type="text"
                                                                                class="form-control" id="displayInput"
                                                                                placeholder="The part after the box name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="portInput"
                                                                                class="form-label">Port</label>
                                                                            <input name="display" type="number"
                                                                                class="form-control" id="portInput"
                                                                                placeholder="The part after the box name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <p class="form-label">CredLists</p>
                                                                            <ul class="list-group">
                                                                                {{ range $credlist := $credlists }}
                                                                                <li class="list-group-item">
                                                                                    <input class="form-check-input me-1"
                                                                                        type="checkbox"
                                                                                        value="{{ $credlist }}"
                                                                                        id="checkbox-{{ $credlist }}">
                                                                                    <label
                                                                                        class="form-check-label stretched-link"
                                                                                        for="checkbox-{{ $credlist }}">{{
                                                                                        $credlist }}</label>
                                                                                </li>
                                                                                {{ end }}

                                                                            </ul>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="pointsInput"
                                                                                class="form-label">Points</label>
                                                                            <input name="display" type="number"
                                                                                class="form-control" id="pointsInput"
                                                                                placeholder="The part after the box name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="timeoutInput"
                                                                                class="form-label">Timeout</label>
                                                                            <input name="display" type="number"
                                                                                class="form-control" id="timeoutInput"
                                                                                placeholder="The part after the box name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="slapenaltyInput"
                                                                                class="form-label">SLA Penalty</label>
                                                                            <input name="display" type="number"
                                                                                class="form-control"
                                                                                id="slapenaltyInput"
                                                                                placeholder="The part after the box name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="slathresholdInput"
                                                                                class="form-label">SLA Threshold</label>
                                                                            <input name="display" type="number"
                                                                                class="form-control"
                                                                                id="slathresholdInput"
                                                                                placeholder="The part after the box name">
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <label for="launchtimePickerInput"
                                                                                class="col-form-label">Launch
                                                                                Time:</label>
                                                                            <div class="input-group"
                                                                                id="launchtimePicker"
                                                                                data-td-target-input="nearest"
                                                                                data-td-target-toggle="nearest">
                                                                                <input name="launchtimeInput"
                                                                                    id="launchtimePickerInput"
                                                                                    type="text" class="form-control"
                                                                                    data-td-target="#launchtimePicker"
                                                                                    required aria-required="true">
                                                                            </div>
                                                                            <div class="mb-3">
                                                                                <label for="stoptimePickerInput"
                                                                                    class="col-form-label">Stop
                                                                                    Time:</label>
                                                                                <div class="input-group"
                                                                                    id="stoptimePicker"
                                                                                    data-td-target-input="nearest"
                                                                                    data-td-target-toggle="nearest">
                                                                                    <input name="stoptimeInput"
                                                                                        id="stoptimePickerInput"
                                                                                        type="text" class="form-control"
                                                                                        data-td-target="#stoptimePicker"
                                                                                        required aria-required="true">
                                                                                </div>
                                                                            </div>
                                                                    </form>
                                                                </div>
                                                                <div class="tab-pane fade" id="pills-advanced"
                                                                    role="tabpanel" aria-labelledby="pills-advanced-tab"
                                                                    tabindex="0">
                                                                    To be implemented
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <!-- <button type="button" class="btn btn-primary">Save</button> -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function () {
                                            const config = {
                                                display: {
                                                    icons: {
                                                        type: 'icons',
                                                        time: 'bi bi-clock',
                                                        date: 'bi bi-calendar',
                                                        up: 'bi bi-arrow-up',
                                                        down: 'bi bi-arrow-down',
                                                        previous: 'bi bi-chevron-left',
                                                        next: 'bi bi-chevron-right',
                                                        today: 'bi bi-calendar-check',
                                                        clear: 'bi bi-trash',
                                                        close: 'bi bi-x'
                                                    }
                                                },
                                                localization: {
                                                    format: 'yyyy/MM/dd HH:mm T',
                                                }
                                            }

                                            let launchtimepicker = new tempusDominus.TempusDominus(
                                                document.getElementById('launchtimePickerInput'),
                                                config
                                            );
                                            let stoptimepicker = new tempusDominus.TempusDominus(
                                                document.getElementById('stoptimePickerInput'),
                                                config
                                            );

                                            let buttons = document.querySelectorAll(".btn-modal")
                                            buttons.forEach((button) => {
                                                button.addEventListener('click', (event) => {
                                                    const serviceName = event.currentTarget.getAttribute("data-service-name")
                                                    const modalBody = document.querySelector("#editServiceCheckModal .modal-body")
                                                    // modalBody.textContent = serviceName
                                                    fetch("/api/engine/services/" + serviceName)
                                                        .then((response) => {
                                                            if (!response.ok) {
                                                                Promise.reject(response);
                                                            }
                                                            return response.json();
                                                        })
                                                        .then((data) => {
                                                            document.getElementById("editServiceCheckModalLabel").textContent = "Edit Service Check"
                                                            document.getElementById("displayInput").value = data.Display
                                                            document.getElementById("portInput").value = data.Port
                                                            document.getElementById("pointsInput").value = data.Points
                                                            document.getElementById("timeoutInput").value = data.Timeout
                                                            document.getElementById("slapenaltyInput").value = data.SlaPenalty
                                                            document.getElementById("slathresholdInput").value = data.SlaThreshold
                                                            launchtimepicker.dates.setFromInput(data.LaunchTime)
                                                            stoptimepicker.dates.setFromInput(data.StopTime)
                                                            document.querySelectorAll("input.form-check-input").forEach((checkbox) => {
                                                                checkbox.checked = false
                                                            })
                                                            console.log(data)
                                                            if (data.CredLists != null) {
                                                                data.CredLists.forEach((credlist) => {
                                                                    console.log("checkbox-" + credlist)
                                                                    document.getElementById("checkbox-" + credlist).checked = true
                                                                })
                                                            }
                                                        })
                                                        .catch((error) => {
                                                            createToast(error, "bg-danger")
                                                        })
                                                })
                                            })
                                        })
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p style="text-align: center">🕒 Current time is <b>{{ format .now }}</b>.</p>
    </div>
</div>
<script>
    if (location.hash != "") {
        let savedTab = document.querySelector('[data-tab-id="#"]'.replace("#", location.hash.replace("#", "")))
        if (savedTab != null) {
            let tab = new bootstrap.Tab(savedTab)
            tab.show()
        }
    }
    const tabs = document.querySelectorAll('#engineNav button[data-bs-toggle="pill"]')
    tabs.forEach((tab) => {
        tab.addEventListener('click', (event) => {
            let currentTab = event.target
            location.hash = currentTab.getAttribute("data-tab-id")
        })
    })
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>

{{ end }}
{{ template "base" .}}