{{ define "content"}}

{{ $id := uint .user.UserInfo.ID}}
{{ $admin := .user.UserInfo.Admin}}
{{ if .user.UserInfo.Admin }}
{{ $id = 1 }}
{{ end }}

{{ $credentials := .credentials }}
<div class="d-flex flex-column flex-grow-1">
    <div class="m-4 p-4">
        <h2>Password Change Requests</h2>
        <div class="d-flex h-auto justify-content-center align-items-center">
            <div class="container-fluid">
                <div class="row g-3">
                    <div class="col col-xxl-4">
                        <div class="border rounded-4 p-4">
                            <div class="row">
                                <form id="pcrSubmitForm">
                                    <div class="row">
                                        <p>Submit PCR</p>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            {{ if .user.UserInfo.Admin }}
                                            <div class="col">
                                                <label for="teamid" class="col-form-label">Team:</label>
                                                <select name="teamid" class="form-select" aria-label="Select a team"
                                                    required aria-required="true">
                                                    {{ range $team := .teams }}
                                                    <option value="{{ $team.ID }}">{{ $team.Name }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                            {{ end }}
                                            <div class="col">
                                                <label for="credlist" class="col-form-label">Cred List:</label>
                                                {{ range $team := .teams }}
                                                {{ if (or $admin (eq $team.ID $id)) }}
                                                <select id="credlist-team-{{ $team.ID }}" name="credlist-team-{{ $team.ID }}" class="form-select credlist"
                                                    aria-label="Select a list of credentials" required
                                                    aria-required="true">
                                                    {{ $credlists := keys (index $credentials $team.ID) }}
                                                    {{ range $credlist := $credlists }}
                                                    <option value="{{ $credlist }}">{{ $credlist }}</option>
                                                    {{ end }}
                                                </select>
                                                {{ end }}
                                                {{ end }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control" name="changes" rows="10"
                                            placeholder="username,password"></textarea>
                                    </div>
                                    <div>
                                        <button class="form-control btn btn-primary" type="submit">Submit PCR</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 m-0 d-lg-none d-block"></div>
                    <div class="col">
                        <div class="border rounded-4 p-4">
                            <form id="pcrViewForm">
                                <div class="row">
                                    <p>View state of credentials</p>
                                </div>
                                <div class="row">
                                    {{ if .user.UserInfo.Admin }}
                                    <div class="col">
                                        <label for="teamid" class="col-form-label">Team:</label>
                                        <select name="teamid" class="form-select" aria-label="Select a team" required
                                            aria-required="true">
                                            {{ range $team := .teams }}
                                            <option value="{{ $team.ID }}">{{ $team.Name }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                    {{ end }}
                                    <div class="col">
                                        <label for="credlist" class="col-form-label">Cred List:</label>
                                        {{ range $team := .teams }}
                                        {{ if (or $admin (eq $team.ID $id)) }}
                                        <select id="credlist-team-{{ $team.ID }}" name="credlist" class="form-select"
                                            aria-label="Select a list of credentials" required
                                            aria-required="true">
                                            {{ $credlists := keys (index $credentials $team.ID) }}
                                            {{ range $credlist := $credlists }}
                                            <option value="{{ $credlist }}">{{ $credlist }}</option>
                                            {{ end }}
                                        </select>
                                        {{ end }}
                                        {{ end }}
                                    </div>
                                </div>
                            </form>
                            <div class="mt-4">
                                <div class="tab-content" id="credentialsTabContent">
                                    {{ range $team := .teams }}
                                    {{ range $credlist := keys (index $credentials $team.ID) }}

                                    {{ if (or $admin (eq $team.ID $id)) }}
                                    <div class="tab-pane fade" id="credentials-tab-pane-{{ $team.ID }}-{{ $credlist }}"
                                        role="tabpanel" aria-labelledby="credentials-tab-{{ $team.ID }}" tabindex="0">
                                        <ul>
                                            {{ $usernames := keys (index $credentials $team.ID $credlist) }}
                                            {{ range $username := $usernames }}
                                            <li>
                                                <pre>{{ $username }},{{ index $credentials $team.ID $credlist $username }}</pre>
                                            </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    {{ end }}

                                    {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('pcrSubmitForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let activeTeam = document.querySelector('#pcrSubmitForm select.credlist')

            let formid = "pcrSubmitForm";
            let url = "/api/pcrs/submit";

            const form = document.forms[formid]
            let data = JSON.stringify({
                {{ if .user.UserInfo.Admin }}"teamid": parseInt(form.teamid.value),{{ end }}
                "credlist": form[activeTeam.id].value,
                "changes": form.changes.value,
            })
            let success_function = function (data) {
                createToast("PCR successfully submitted", "bg-success")
                location.reload()
            }
            postAjax(event, formid, data, url, success_function)
        });
    })
</script>

<script>
    const viewCredentialsForm = document.getElementById("pcrViewForm")
    const teamSelect = viewCredentialsForm.querySelector('select[name="teamid"]')
    let credlistSelect = viewCredentialsForm.querySelectorAll('select[name="credlist"]')
    var lastActive
    function updateCredentialView() {
        {{ if $admin }}let teamid = teamSelect.value{{ end }}
        {{ if not $admin }}let teamid = {{ $id }}{{ end }}
        let credlist;
        credlistSelect.forEach((list) => {
            if (!list.classList.contains("d-none")) {
                credlist = list.value
            }
        })

        if (lastActive) {
            lastActive.className = "tab-pane fade"
        }
        let newPane = document.getElementById("credentials-tab-pane-" + teamid + "-" + credlist)
        newPane.className = "tabe-pane fade show active"
        lastActive = document.getElementById("credentials-tab-pane-" + teamid + "-" + credlist)
    }
    window.addEventListener('DOMContentLoaded', () => {
        {{ if $admin }}teamSelect.addEventListener('change', (event) => {updateCredentialView()}){{ end }}
        credlistSelect.forEach((credlist) => {
            credlist.addEventListener('change', (event) => {updateCredentialView()})
        })
    })
    updateCredentialView()
</script>
{{ if $admin }}
<script>
    credlistSelect.forEach((select) => {
        select.classList.add("d-none")
    })
    credlistSelect[0].classList.remove("d-none")
    credlistSelect[0].classList.add("active")
    teamSelect.addEventListener('change', function(event) {
        credlistSelect.forEach((credlist) => {
            if (credlist.id == "credlist-team-"+teamSelect.value) {
                credlist.classList.remove("d-none")
                credlist.classList.add("active")
            } else {
                credlist.classList.add("d-none")
                credlist.classList.remove("active")
            }
        })
    })

    let credlistFormSelect = document.querySelectorAll('#pcrSubmitForm select.credlist')
    let teamFormSelect = document.querySelector('#pcrSubmitForm select[name="teamid"]')

    credlistFormSelect.forEach((select) => {
        select.classList.add("d-none")
    })
    credlistFormSelect[0].classList.remove("d-none")
    teamFormSelect.addEventListener('change', function(event) {
        credlistFormSelect.forEach((credlist) => {
            if (credlist.id == "credlist-team-"+teamFormSelect.value) {
                credlist.classList.remove("d-none")
            } else {
                credlist.classList.add("d-none")
            }
        })
    })
</script>
{{ end }}
{{ end }}
{{ template "base" .}}