{{ define "content"}}
{{ $credentials := .credentials }}

{{ $id := uint .user.UserInfo.ID}}
{{ if .user.UserInfo.Admin }}
{{ $id = 1 }}
{{ end }}

{{ $lists := index .credentials $id}}
{{ $credlists := keys $lists }}
<div class="d-flex flex-column flex-grow-1">
    <div class="m-4 p-4">
        <h2>Password Change Requests</h2>
        <div class="d-flex h-auto justify-content-center align-items-center">
            <div class="container-fluid">
                <div class="row g-3">
                    <div class="col col-xxl-4">
                        <div class="border rounded-4 p-4">
                            <div class="row">
                                <form id="pcrSubmitForm">
                                    <div class="row">
                                        <p>Submit PCR</p>
                                    </div>
                                    <div class="mb-3">
                                        <div class="row">
                                            {{ if .user.UserInfo.Admin }}
                                            <div class="col">
                                                <label for="teamid" class="col-form-label">Team:</label>
                                                <select name="teamid" class="form-select" aria-label="Select a team"
                                                    required aria-required="true">
                                                    {{ range $team := .teams }}
                                                    <option value="{{ $team.ID }}">{{ $team.Name }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                            {{ end }}
                                            <div class="col">
                                                <label for="credlist" class="col-form-label">Cred List:</label>
                                                <select name="credlist" class="form-select"
                                                    aria-label="Select a list of credentials" required
                                                    aria-required="true">
                                                    {{ range $credlist := $credlists }}
                                                    <option value="{{ $credlist }}">{{ $credlist }}</option>
                                                    {{ end }}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <textarea class="form-control" name="changes" rows="10"
                                            placeholder="username,password"></textarea>
                                    </div>
                                    <div>
                                        <button class="form-control btn btn-primary" type="submit">Submit PCR</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 m-0 d-lg-none d-block"></div>
                    <div class="col">
                        {{ if .user.UserInfo.Admin }}
                        <div class="border rounded-4 p-4">
                            <form id="pcrViewForm">
                                <div class="row">
                                    <p>View state of credentials</p>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="teamid" class="col-form-label">Team:</label>
                                        <select name="teamid" class="form-select" aria-label="Select a team" required
                                            aria-required="true">
                                            {{ range $team := .teams }}
                                            <option value="{{ $team.ID }}">{{ $team.Name }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="credlist" class="col-form-label">Cred List:</label>
                                        <select name="credlist" class="form-select"
                                            aria-label="Select a list of credentials" required aria-required="true">
                                            {{ range $credlist := $credlists }}
                                            <option value="{{ $credlist }}">{{ $credlist }}</option>
                                            {{ end }}
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="mt-4">
                                <div class="tab-content" id="credentialsTabContent">
                                    {{ range $team := .teams }}
                                    {{ range $credlist := $credlists }}
                                    <div class="tab-pane fade" id="credentials-tab-pane-{{ $team.ID }}-{{ $credlist }}"
                                        role="tabpanel" aria-labelledby="credentials-tab-{{ $team.ID }}" tabindex="0">
                                        <ul>
                                            {{ $usernames := keys (index $credentials $team.ID $credlist) }}
                                            {{ range $username := $usernames }}
                                            <li>
                                                <pre>{{ $username }}:{{ index $credentials $team.ID $credlist $username }}</pre>
                                            </li>
                                            {{ end }}
                                        </ul>
                                    </div>
                                    {{ end }}
                                    {{ end }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('pcrSubmitForm').addEventListener('submit', function (event) {
            // Prevent the default form submission
            event.preventDefault();

            let formid = "pcrSubmitForm";
            let url = "/api/pcrs/submit";

            const form = document.forms[formid]
            let data = JSON.stringify({
                {{ if .user.UserInfo.Admin }}"teamid": parseInt(form.teamid.value),{{ end }}
                "credlist": form.credlist.value,
                "changes": form.changes.value,
            })
            let success_function = function (data) {
                createToast("PCR successfully submitted", "bg-success")
            }
            postAjax(event, formid, data, url, success_function)
        });
    })
</script>
{{ if .user.UserInfo.Admin }}
<script>
    const viewCredentialsForm = document.getElementById("pcrViewForm")
    const teamSelect = viewCredentialsForm.querySelector('select[name="teamid"]')
    const credlistSelect = viewCredentialsForm.querySelector('select[name="credlist"]')
    var lastActive
    function updateCredentialView() {
        let teamid = teamSelect.value
        let credlist = credlistSelect.value
        if (lastActive) {
            lastActive.className = "tab-pane fade"
        }
        let newPane = document.getElementById("credentials-tab-pane-" + teamid + "-" + credlist)
        newPane.className = "tabe-pane fade show active"
        lastActive = document.getElementById("credentials-tab-pane-" + teamid + "-" + credlist)
    }
    updateCredentialView()
    window.addEventListener('DOMContentLoaded', () => {
        teamSelect.addEventListener('change', updateCredentialView)
        credlistSelect.addEventListener('change', updateCredentialView)
    })
</script>
{{ end }}
{{ end }}
{{ template "base" .}}